/*CSS*/
body {
    background: #eee;
    background-color: rgba(0, 217, 255, 0.584)
    font-size: 1.5em;
    line-height: 1.6;
    font-weight:400;
    font-family: 'Grandstander', cursive;
  }
li {
  display: list-item;
}
.navcontainer > li{
  border-bottom: 1px solid #89CFF0;
  margin: 0px;
  padding: 10px;
  border-radius: 3px;
  background: linear-gradient(#89CFF0 35%, #FFFFFF 100% ) 

}

